@{
    ViewData["Title"] = "Truy cập bị từ chối";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="d-flex flex-column align-items-center justify-content-center vh-100 text-center">
    <div class="card shadow-lg p-4" style="max-width: 400px;">
      

        <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">
            Trang chủ
        </a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}