@model DAL.Models.FoodDetail

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>FoodDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FoodDetailId" />
            <div class="form-group">
                <label asp-for="FoodId" class="control-label"></label>
                <select asp-for="FoodId" class="form-control" asp-items="ViewBag.FoodId"></select>
                <span asp-validation-for="FoodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calo" class="control-label"></label>
                <input asp-for="Calo" class="form-control" />
                <span asp-validation-for="Calo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThanhPhan" class="control-label"></label>
                <input asp-for="ThanhPhan" class="form-control" />
                <span asp-validation-for="ThanhPhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGianChuanBi" class="control-label"></label>
                <input asp-for="ThoiGianChuanBi" class="form-control" />
                <span asp-validation-for="ThoiGianChuanBi" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Chay" /> @Html.DisplayNameFor(model => model.Chay)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
